<%= form_for [:admin, @probability], class: "form-horizontal", role:"form" do |f| %>
  <div class="errors"><%= render partial: "errors", locals: { object: @probability } %></div>
  <table class="table table-bordered">
    <tr>
      <th width="100px"><%= f.label Probability.h(:fail) %></th>
      <td width="200px">
        <%= f.text_field :fail, placeholder: Probability.h(:fail) %></td>
    </tr>
    <tr>
      <th><%= f.label Probability.h(:one_apple) %></th>
      <td>
        <%= f.text_field :one_apple, placeholder: Probability.h(:one_apple) %></td>
    </tr>
    <tr>
      <th><%= f.label Probability.h(:three_apple) %></th>
      <td>
        <%= f.text_field :three_apple, placeholder: Probability.h(:three_apple) %></td>
      </td>
    </tr>
    <tr>
      <th><%= f.label Probability.h(:golden_apple) %></th>
      <td>
        <%= f.text_field :golden_apple, placeholder: Probability.h(:golden_apple) %></td>
      </td>
    </tr>
  </table>
  <%= f.submit class: "btn btn-success" %>
<% end %>
