<%= search_form_for @q, url: admin_pricing_plays_path, class: "form-horizontal", role:"form" do |f| %>
  <div class="clear-both">
    <table class="table table-bordered table-search">
      <tr>
        <th><%= PricingPlay.h :user_name %></td>
        <td><%= f.text_field :user_user_name_cont, placeholder: PricingPlay.h(:user_name), class: "search_input" %></td>
      </tr>
      <tr>
        <th><%= PricingPlay.h :auction_item_name %></td>
        <td><%= f.text_field :auction_item_item_name_cont, placeholder: PricingPlay.h(:auction_item_name), class: "search_input" %></td>
      </tr>
      <tr>
        <th><%= PricingPlay.h :set_price_greater_than %></td>
        <td><%= f.text_field :set_price_gteq, placeholder: PricingPlay.h(:set_price_greater_than), class: "search_input" %></td>
      </tr>
      <tr>
        <th><%= PricingPlay.h :set_price_less_than %></td>
        <td><%= f.text_field :set_price_lteq, placeholder: PricingPlay.h(:set_price_less_than), class: "search_input" %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <div class="form_btn">
            <%= f.submit "Search", class: "btn btn-success" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
