<%= form_for [:admin, @common_qa], class: "form-horizontal", role:"form" do |f| %>
  <div class="errors"><%= render partial: "errors", locals: { object: @common_qa } %></div>
  <table class="table table-bordered">
    <tr>
      <th width="100px"><%= f.label CommonQuestionAnswer.h(:title) %></th>
      <td width="200px">
        <%= f.text_field :title, placeholder: CommonQuestionAnswer.h(:title) %></td>
    </tr>
    <tr>
      <th><%= f.label CommonQuestionAnswer.h(:question) %></th>
      <td>
        <%= f.text_area :question, placeholder: CommonQuestionAnswer.h(:question), rows: 4 %></td>
    </tr>
    <tr>
      <th><%= f.label CommonQuestionAnswer.h(:answer) %></th>
      <td>
        <%= f.text_area :answer, placeholder: CommonQuestionAnswer.h(:answer), rows: 4 %></td>
    </tr>
  </table>
  <%= f.submit class: "btn btn-success" %>
<% end %>
