<% provide(:title, (I18n.t :list, scope: [:page_title, :common_qa])) %>
<%= search_form_for @q, url: admin_common_question_answers_path do |f| %>
  <div class="clear-both">
    <table class="table table-bordered table-exchange">
      <tr>
        <th width="100px"><%= f.label :title_cont, CommonQuestionAnswer.h(:title) %></th>
        <td width="200px">
          <%= f.text_field :title_cont, placeholder: CommonQuestionAnswer.h(:title) %></td>
      </tr>
    </table>
    <div>
      <%= f.submit I18n.t(:search), class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<table class="table table-bordered">
  <tr class="success">
    <th><%= CommonQuestionAnswer.h :title %></th>
    <th><%= CommonQuestionAnswer.h :question %></th>
    <th><%= CommonQuestionAnswer.h :answer %></th>
    <th></th>
    <th></th>
  </tr>
  <% @common_qas.each do |common_qa| %>
    <tr>
      <td><%= common_qa.title %></td>
      <td><%= common_qa.question %></td>
      <td><%= common_qa.answer %></td>
      <td><%= link_to I18n.t(:edit), edit_admin_common_question_answer_path(common_qa) %> </td>
      <td>
        <%= link_to I18n.t(:destroy),
          admin_common_question_answer_path(common_qa),
          method: :delete,
          data: {confirm: I18n.t(:confirmation)} %>
      </td>
    </tr>
  <% end %>
</table>
<div><%= paginate @common_qas %></div>
