<%= search_form_for @q, url: admin_kitty_words_path, class: "form-horizontal", role:"form" do |f| %>
  <div class="clear-both">
    <table class="table table-bordered table-search">
      <tr>
        <th><%= KittyWord.h :name %></td>
        <td><%= f.text_field :name_cont, placeholder: "Name", class: "search_input" %></td>
      </tr>
      <tr>
        <th><%= KittyWord.h :word %></th>
        <td><%= f.text_field :word_cont, placeholder: "Word", class: "search_input" %></td>
      </tr>
      <tr>
         <th><%= KittyWord.h :level %></th>
         <td><%= f.text_field :level_eq, placeholder: "Level", class: "search_input" %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <div class="form_btn">
            <%= f.submit "Search", class: "btn btn-success" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>