<% provide(:title, (I18n.t :list, scope: [:page_title, :kitty_word])) %>
<selection id="kitty_words-index">
  <div class="search">
    <%= render "search_form" %>
  </div>
  <div><%=link_to "Add New", new_admin_kitty_word_path, class: "btn btn-success" %></div><br />
  <table class="table table-striped table-bordered ">
    <thead>
      <tr class="active">
        <th><%= KittyWord.h :name %></th>
        <th><%= KittyWord.h :work %></th>
        <th><%= KittyWord.h :level %></th>
      </tr>
    </thead>
    <tbody>
      <% @kitty_words.each do |kitty_word| %>
        <tr>
          <td><%= link_to kitty_word.name, admin_kitty_word_path(kitty_word) %></td>
          <td><%= kitty_word.word %></td>
          <td><%= kitty_word.level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div><%= paginate @kitty_words %></div>
</selection>

