<%= search_form_for @q, url: admin_login_histories_path, class: "form-horizontal", role:"form" do |f| %>
  <div class="clear-both">
    <table class="table table-bordered table-search">
      <tr>
        <th><%= LoginHistory.h :user_id %></td>
        <td><%= f.text_field :user_id, placeholder: LoginHistory.h(:user_id), class: "search_input" %></td>
      </tr>
      <tr>
        <th><%= I18n.t :from %></td>
        <td><%= f.text_field :created_at_gteq, placeholder: I18n.t(:from), class: "search_input datetimepicker" %></td>
      </tr>
      <tr>
        <th><%= I18n.t :to %></td>
        <td><%= f.text_field :created_at_lteq, placeholder: I18n.t(:to), class: "search_input datetimepicker" %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <div class="form_btn">
            <%= f.submit "Search", class: "btn btn-success" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
