<% provide(:title, (I18n.t :list, scope: [:page_title, :login_history])) %>
<div class="well">
  <%= render "search_form" %>
</div>

<table class="table table-striped table-bordered table-hover table-responsive">
<tr class="success">
  <th><%= LoginHistory.h(:user_id) %></td>
  <th><%= LoginHistory.h(:login_date_time) %></td>
  <th><%= LoginHistory.h(:bonus) %></td>
</tr>
<% @login_histories.each do |login_history| %>
  <tr>
    <td><%= login_history.user_id %></td>
    <td><%= login_history.created_at %></td>
    <td><%= login_history.bonus %></td>
  </tr>
<% end %>
</table>
