<%= search_form_for @q, url: admin_charge_logs_path, class: "form-horizontal", role:"form" do |f| %>
  <div class="clear-both">
    <table class="table table-bordered table-search">      <tr>
        <th><%= ChargeLog.h :user_name %></td>
        <td><%= f.text_field :user_user_name_cont, placeholder: ChargeLog.h(:user_name), class: "search_input" %></td>
      </tr>
      <tr>
        <th><%= ChargeLog.h :charged_gold_greater_than %></td>
        <td><%= f.text_field :charged_gold_gteq, placeholder: ChargeLog.h(:charged_gold_greater_than), class: "search_input" %></td>
      </tr>
      <tr>
        <th><%= ChargeLog.h :charged_gold_less_than %></td>
        <td><%= f.text_field :charged_gold_lteq, placeholder: ChargeLog.h(:charged_gold_less_than), class: "search_input" %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <div class="form_btn">
            <%= f.submit "Search", class: "btn btn-success" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
