<%= form_for [:admin, @qa], class: "form-horizontal", role:"form" do |f| %>
  <div class="errors"><%= render partial: "errors", locals: { object: @qa } %></div>
  <table class="table table-bordered">
    <tr>
      <th width="100px"><%= f.label QuestionAnswer.h(:title) %></th>
      <td width="200px">
        <%= f.label @qa.title, placeholder: QuestionAnswer.h(:title) %></td>
    </tr>
    <tr>
      <th><%= f.label QuestionAnswer.h(:question) %></th>
      <td>
        <%= f.label @qa.question, placeholder: QuestionAnswer.h(:question), rows: 4 %></td>
    </tr>
    <tr>
      <th><%= f.label QuestionAnswer.h(:answer) %></th>
      <td>
        <%= f.text_area :answer, placeholder: QuestionAnswer.h(:answer), rows: 4 %></td>
    </tr>
  </table>
  <% if @qa.answered == false %>
    <%= f.submit QuestionAnswer.h(:answer_question), class: "btn btn-success" %>
  <% end %>
<% end %>
