<% provide(:title, (I18n.t :list, scope: [:page_title, :qa])) %>
<%= search_form_for @q, url: admin_question_answers_path do |f| %>
  <div class="clear-both">
    <table class="table table-bordered table-exchange">
      <tr>
        <th width="100px"><%= f.label :title_cont, QuestionAnswer.h(:title) %></th>
        <td width="200px">
          <%= f.text_field :title_cont, placeholder: QuestionAnswer.h(:title) %></td>
      </tr>
      <tr>
        <th><%= QuestionAnswer.h :answered %></th>
        <td>
          <%= f.check_box :answered_eq %></td>
      </tr>
    </table>
    <div>
      <%= f.submit I18n.t(:search), class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<table class="table table-bordered">
  <tr class="success">
    <th><%= QuestionAnswer.h :title %></th>
    <th><%= QuestionAnswer.h :question %></th>
    <th><%= QuestionAnswer.h :answer %></th>
    <th><%= QuestionAnswer.h :is_answered %></th>
    <th></th>
  </tr>
  <% @qas.each do |qa| %>
    <tr>
      <td><%= link_to qa.title, edit_admin_question_answer_path(qa) %></td>
      <td><%= qa.question %></td>
      <td><%= qa.answer %></td>
      <td><%= qa.answered ? QuestionAnswer.h(:yes) :
        QuestionAnswer.h(:no) %></td>
      <td>
        <%= link_to I18n.t(:destroy),
          admin_question_answer_path(qa),
          method: :delete,
          data: {confirm: I18n.t(:confirmation)} %>
      </td>
    </tr>
  <% end %>
</table>
<div><%= paginate @qas %></div>
