<%= form_tag(admin_users_path(), method: :get, id: "search_exchange_form") do %>
  <div class="clear-both">
    <table class="table table-bordered table-exchange">
      <tr>
        <th width="180px"><%= Exchange.h :created_at %></td>
        <td width="200px" id="test">
          <%= text_field_tag :created_at,"", placeholder: "Month and year", id: "month-picker", value: params[:created_at] %></td>
          <td><%= submit_tag "Search", class: "btn btn-success", id: "search_exchange" %></td>
      </tr>
      <tr>
        <th><%= t(".total_exchange_today")%></th>
        <td colspan="2"><%= @today_exchange %></td>
      </tr>
      <tr>
        <th><%= t(".exchange_by_month")%></th>
        <td id="exchange_by_month" colspan="2"><%= @exchange_by_month %></td>
      </tr>
    </table>
  </div>
<% end %>