<%= search_form_for @q, url: admin_users_path, class: "form-horizontal", role:"form" do |f| %>
  <div class="clear-both">
    <table class="table table-bordered table-search">
      <tr>
        <th><%= User.h :media_user_info %></td>
        <td><%= f.text_field :media_user_info_cont, placeholder: "Media user info", class: "search_input" %></td>
        <%= hidden_field_tag :search_user, 1 %>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <div class="form_btn">
            <%= f.submit "Search", class: "btn btn-success" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>