<h3> Exchange </h3>
<div id="exchange">
  <%= render "exchange" %>
</div>
<title> List Users </title>
<h3> List Users </h3>
<div class="search">
  <%= render "search_form" %>
</div>
<br/>
<div>
  <table class="table table-striped table-bordered table-hover table-responsive">
  <tr class="success">
    <th><%= User.h(:id) %></th>
    <th><%= User.h(:media_user_info) %></th>
    <th><%= User.h(:ad_id) %></th>
    <th><%= User.h(:device_type) %></th>
    <th>Kitty</th>
    <th>Level up's number</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.media_user_info %></td>
      <td><%= user.ad_id %></td>
      <td><%= user.device_type %></td>
      <% kitty = user.kitty %>
      <td><%= link_to I18n.t(:show), admin_kitty_path(kitty) if user.kitty %></td>
      <td><%= kitty.level_up_histories.count if user.kitty %></td>
      <td><%= link_to I18n.t(:edit), edit_admin_user_path(user) %> </td>
      <td>
        <%= link_to I18n.t(:destroy),
          admin_user_path(user),
          method: :delete,
          data: {confirm: I18n.t(:confirmation)} %>
      </td>
    </tr>
  <% end %>
  </table>
</div>